<div class="flash">

    <div class="first">
        <h2>Flash Sale</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo rerum quos dicta iure officia totam sit nulla quae minus soluta!</p>

    </div>
    <div class="right">
        <div class="second">
            <div class="product-card">
                <div class="product-image">
                  <img [src]="imageURL" alt="{{ name }}">
                </div>
                <div class="product-details">
                  <h3 class="product-name">{{ name }}</h3>
                  <p class="product-price">{{ "$" + price }}</p>
                </div>
              </div>
        </div>
        <div class="third"></div>
    </div>
</div>
